
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* border-radius: 5px; */
    /* border-radius: 5px; */
    border: 1px solid red;
    margin-top: 22%;
    margin-bottom: -15%;
    margin-left: 5%;
    margin-right: -7%;
}

/* Add rounded corners to the top left and the top right corner of the image */
.img-card {
    border-radius: 5px 5px 0 0;
	width:100%;
}
.margin-top-10{
	margin-top:10px;
}
.title-card{
	color:red;
}
.gray-color{color:gray;}
.normal-font-size{    font-weight: normal;}
.bold-font-size{    font-weight: bold;}
.black-color{color:black}
.color-red{color:red;}
.btn-round-lg{
border-radius: 22.5px;
}
.btn-round{
border-radius: 17px;
}
.btn-round-sm{
border-radius: 15px;
}
.btn-round-xs{
border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
}

/*@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");*/

#footer {
/*    border-top: 5px solid #CDB380;
    background: #033649 none repeat scroll 0% 0%;
    padding-top: 30px;
    margin-top: 60px;
    clear: both;
    color: #AAA;
    display: block;*/
border-top: 5px solid #CDB380;
    background: #033649 none repeat scroll 0% 0%;
    padding-top: 0;
    margin-top: 52px;
    clear: both;
    color: #AAA;
    margin-bottom: -1%;
    display: block;
}

#footer .widgettitle {
    margin: 0px;
    padding: 0px 0px 15px;
    border-bottom: medium none;
}
#footer h4 {
    color: #FFF;
}

#footer ul {
    list-style: outside none none;
}

#footer li {
    padding: 7px 0px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    margin: 0px;
}

#footer li a {
    color: #DDD;
}

#sub-floor {
    color: #AAA;
    background: #031634 none repeat scroll 0% 0%;
    padding: 10px 0px;
}
.navbar-inverse {
    background-color: #031634;
   
}